
.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 1rem;
  position: fixed;
  top: 80px; 
  left: 0;
  height: calc(100vh - 60px); 
  z-index: 5;
  overflow-y: auto;
  transition: transform 0.3s ease;
}



.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 0.5rem;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #ddd;
}
